
body {
    background: rgb(28, 153, 141);
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
}
#title{
    margin: 1vw;
}
#box-container-1 {
    background: rgba(245,245,245,1);
    margin: 5vw;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1vw;
}

#box-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1vw 0 1vw 0;
}


.labels {
    display: inline-block;
    text-align: right;
    width: 15%;     
    vertical-align: top; 
    padding: 0.12vw;
    margin: 0.25vw;  
    font-size: 1.5vw;
    }
.inputs{
    display: inline-block;
    text-align: left;
    width: 25%;
    vertical-align: middle;
}
.input-field {
    height: 2.5vw;
    width: 15vw;
    padding: 0.12vw;
    margin: 0.25vw;
    border: 0.08vw solid #c0c0c0;
    border-radius: 0.2vw;
}
.radio {
    display: block;
    position: relative;
    left: -2vw;
    padding: 0.5vw;
}
#dropdown{
    margin-top: 2.5vw;
}

.userRatings, input[type="checkbox"] {
    float: left;
}
.checkbox {
    display: block;
    position: relative;
    left: -2vw;
    padding: 0.5vw;   
}
textarea {
    margin: 0vw;
    height: 10vw;
    width: 21vw;
}

#submit {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 0px solid;
}