
body {
    background: rgb(28, 153, 141);
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
}
#box-container-1 {
    background: rgba(245,245,245,1);
    margin: 10vw;
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1vw 0 1vw 0;
}
#box1 #box2{
    /* text-align: center;
    width: 25%; */
}


.labels {
    display: inline-block;
    text-align: right;
    width: 15%;     
    vertical-align: top; 
    padding: 0.12vw;
    margin: 0.25vw;  
    }
.inputs{
    display: inline-block;
    text-align: left;
    width: 25%;
    vertical-align: middle;
}
.input-field {
    height: 1.5vw;
    width: 15vw;
    padding: 0.12vw;
    margin: 0.25vw;
    border: 0.08vw solid #c0c0c0;
    border-radius: 0.2vw;
}
.radio {
    position: relative;
    left: -4vw;
    margin-left: 10px;
    display: block;
    padding-bottom: 0.5vw;
}
#role{
    margin-top: 2.5vw;
}
.userRatings{
    float: left;
}